/* Typography */
h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 2.5rem;
}
h3 .text-teal {
  color: #168479;
  margin-top: 2.5rem;
  display: block;
}
/* Colors */
.text-orange {
  color: #e08902;
}
/* Tabs */
.pluggable .rounded-t a.text-gray-500 {
  color: #000;
}
.pluggable .border {
  border-color: #b5b3b3;
}

/* Bootstrap */
.row {
  flex-wrap: wrap;
  display: flex;
  align-items: self-start;
  margin: 1rem 0;
  gap: 1.5rem;

}
.col {
  flex: 0 0 auto;
  width: 50%;
}
.col-8 {
  flex: 0 0 auto;
  width: 54%;
}
.col-4 {
  flex: 0 0 auto;
  width: 36%
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.mt-0 {
  margin-bottom: 0;
}
.mt-2 {
  margin-bottom: 0.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
/* Cards */
.card {
  border: 1px solid #dee2e6;
  box-shadow: 0 1px 5px 0 #dcdcdc;
  height: 100%;
  box-sizing: content-box;
  padding: 1rem;
}
.card h2 {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.card a {
  margin-top: .7rem;
  padding: .5rem 2.5rem;
  font-size: .9rem;
  border-radius: 25px;
  background-color: #0488ce;
  color: #fff!important;
}
.card img {
  width: 80px;
}
.card.card-color {
  border-radius: 35px;
  background-color: #0488ce;
  color: #fff;
}
.card.card-color h2 {
  color: #fff;
}
.card.card-color a {
  border: 1.5px solid #fff;
  background-color: #fff;
  color: #0488ce!important;
}
.card.card-color a:hover {
  color: #0488ce!important;
}
.card p.content {
  height: 100px;
  font-size: .88rem;
}

/* Headers */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  background-color: #eef6ff;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header img {
  width: 80px;
}
.header h1 {
  margin-left: 0;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
.header p {
  padding-left: 2rem;
  margin-bottom: 0;
}
/* Buttons */
.btn-orange-lg,
.btn-orange-sm {
  background-color: #f99700;
  color: #fff!important;
  padding: .5rem 3rem;
  border-radius: 20px;
  font-weight: 600;
  display: inline-flex;
}
.btn-orange-lg span,
.btn-orange-sm span {
  padding-left: .5rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.btn-orange-sm {
  padding: .25rem 2rem;
  font-size: .8rem;
}

/* Media Queries */
@media (min-width: 1450px) {
  .col {
    width: 33.33333333%;
  }
}
@media (min-width: 1600px) {
  .col {
    width: 23%;
  }
}