/* Typography */
h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 2.5rem;
}
h3 .text-teal {
  color: #168479;
  margin-top: 2.5rem;
  display: block;
}
/* Colors */
.text-blue {
  color: #0488ce;
}
.text-orange {
  color: #e08902;
}
/* Tabs */
.pluggable .rounded-t a.text-gray-500 {
  color: #000;
}
.pluggable .border {
  border-color: #b5b3b3;
}

/* Bootstrap */
.row {
  flex-wrap: wrap;
  display: flex;
  align-items: self-start;
  margin: 1rem 0;
  gap: 1.5rem;

}
.col {
  flex: 0 0 auto;
  width: 50%;
}
.col-8 {
  flex: 0 0 auto;
  width: 54%;
}
.col-4 {
  flex: 0 0 auto;
  width: 36%
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.mt-0 {
  margin-bottom: 0;
}
.mt-2 {
  margin-bottom: 0.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 0.5rem;
}

/* Buttons */
.btn-orange-lg,
.btn-orange-sm,
.btn-orange-md {
  background-color: #f99700;
  color: #fff!important;
  padding: .5rem 3rem;
  border-radius: 20px;
  font-weight: 600;
  display: inline-flex;
}
.btn-orange-lg span,
.btn-orange-sm span,
.btn-orange-md span {
  padding-left: .5rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}
.btn-orange-sm {
  padding: .25rem 2rem;
  font-size: .8rem;
}
.btn-orange-md {
  padding: .4rem 2.2rem;
}

/* Media Queries */
@media (min-width: 1450px) {
  .col {
    width: 33.33333333%;
  }
}
@media (min-width: 1600px) {
  .col {
    width: 23%;
  }
}